body {
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

.navContainer {
	max-width: 900px;
}

.navbar {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

li {
	font-weight: bold;
	color: #0087ff;
}

.container {
	max-width: 960px;
	display: flex;
	justify-content: center;
}