html {
	height: 100%;
}

body {
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	background: #000;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.85) 15%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 1) 90%);
  background-attachment: fixed;
  margin:0;
}

#app {
	animation: fadein ease-out 1.4s;
}


.navbar {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

li {
	font-weight: bold;
	color: #0087ff;
}

.logo {
	max-width: 140px;
	max-height: 60px;
}

.container {
	color: #fff;
	display: flex;
	justify-content: center;
	background: rgba(0, 0, 0, 0.85);
	border-radius: 3px;
}

.image {
	max-width: 480px;
	max-height: 600px;
	padding: 0;
	margin: 0;
}

img.poster {
	width: 100%;
	height: 100%;
}

.dataContainer {
	padding: 0 20px;
	margin: 0;
	max-width: 580px;
}

.title {
	text-transform: uppercase;
	font-weight: bold;
}

.data {
  display: block;
  padding-bottom: .25em;
  color: #00FC87;
  font-size: 1.3em;
}

.movDetails {
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 100%;
	max-width: 140px;
	margin: 0 auto;
	display: block;
}